{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>


<style>
    * {

        font-family: "Gill Sans", sans-serif;
        color: white;
    }

    .list {
        background-color: rgb(29, 29, 29);
    }

    .overview {
        background-color: black;
    }

    .searchbar,
    .overview .bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
        /* margin: 0 1rem; */
    }

    .searchbar .btn {
        width: 5vw;
        background-color: rgb(28, 117, 233);
        font-size: 1vw;
        color: rgb(255, 255, 255);
    }

    .table .bold {
        font-size: 1rem;
        font-weight: 600;
    }

    .table tr:hover {
        background-color: #d3f3f2;
    }

    .overview .bar .btn {
        background-color: rgb(238, 164, 27);
        color: #ffff;
        padding: .3rem .3rem;
        align-items: center;
    }

    .overview .bar .btn:hover,
    .overview .bar .btn i:hover {
        background-color: rgb(182, 180, 178);
        color: #000000;
    }

    .p-name {
        height: 2.5vw;
    }

    #div-to-pdf .p-info label,
    #div-to-pdf .bank-div label {
        color: #ffffff;
        font-size: .8rem;
    }

    #div-to-pdf .gen-info label {
        color: #000000;
        font-size: .8rem;
    }

    #div-to-pdf .gen-info .bold {
        color: #000000;
        font-size: 1rem;
    }

    .div-to-pdf div {
        color: #000000;
    }


    #div-to-pdf .p-info .bold,
    #div-to-pdf .bank-div .bold {
        font-size: 1rem;
        color: #ffffff;
        /* font-weight: bold; */
    }

    .modal {
        z-index: 9999;
        overflow: scroll;
    }

    .right .dropdown-menu {
        width: 30vw;
    }

    .modal-backdrop {
        background-color: rgb(0, 0, 0);
    }

    .modal .table th {
        color: #ffffff;
    }

    .modal-content {
        padding: 1.5rem;
        width: 50vw;
        height: auto !important;
        margin: auto;
    }


    
.table-container {
    display: inline-block;
    overflow-x: auto; 
    max-width: 100%; 
}


.truncate-text {
    max-width: 350px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
#mytable tr {
    display: table-row;
}


.actoinacto .dropdown-item:hover {
    background-color: #0baef4;
}
</style>
<section>
    <div class="row p-3 ">
        <div class="list col-4 col-lg-4 col-md-3  col-sm-2 py-3">
            <div class="header">
                <h5>ALL INVOICE LIST</h5>
            </div>
            <div class="searchbar">
                
                <input class="form-control" type="text" placeholder="Search by Name" name="search" id="search"
                    
                    style="color: rgb(255, 255, 255);background: transparent;margin-right: 5px;">
                <a class="btn btn-outline mx-1" style="color: #ccc;background-color: rgb(210, 132, 30);"  href="" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" role="button">
                    <i class="fa fa-filter"></i>
                </a>
               
                <div class="dropdown-menu m-1">
                    <a class="dropdown-item" href="{% url 'delivery_challan_view' estimate.id %}">All</a>
                    <a class="dropdown-item" href="{% url 'filter_by_draft_chellan_view' estimate.id %}">Draft</a>
                    <a class="dropdown-item" href="{% url 'filter_by_sent_chellan_view' estimate.id %}">Sent</a>
                </div>
                
                <a class="btn btn-outline mr-1" style="color: #ccc;background-color: rgb(210, 132, 30);" href="{% url 'add_prod' %}"><i class="fa fa-plus"></i></a>
            </div>
            <hr>
            <table class="text-white" style="width: 100%;">
                {% for v in inv_dat %}
                <tbody id="table">
                    <tr id="tr_data" class="border-bottom clickable-row" style="cursor: pointer;">
                        <td>
                            <a href="{% url 'invoice_overview' v.id %}" style="text-decoration: none; color: black;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 style="color: rgb(218, 143, 5);">{{ v.customer.customerName }}</h5>
                                    </div>
                                    <div class="col-md-6 text-right"  style="color: rgb(218, 143, 5);">&#x20B9;{{ v.grandtotal }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p>{{ v.invoice_no }}</p>
                                    </div>
                                    <div class="col-md-3 text-left"></div>
                                    <div class="col-md-6 text-right">
                                        <p>{{ v.status }}</p>
                                    </div>
                                </div>
                                <div class="row mt-3">
            
                                </div>
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            


            
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filterLinks = document.querySelectorAll(".filter-link");
        const tableRows = document.querySelectorAll(".clickable-row");

        filterLinks.forEach(function (link) {
            link.addEventListener("click", function (event) {
                event.preventDefault();

                const status = link.getAttribute("data-status");

                tableRows.forEach(function (row) {
                    if (status === "all" || (status === "active" && row.getAttribute("data-status") === "True") || (status === "inactive" && row.getAttribute("data-status") === "False")) {
                        row.style.display = "table-row";
                    } else {
                        row.style.display = "none";
                    }
                });
            });
        });
    });
</script>
            
        </div>
        <div class="overview col-8 col-lg-8 col-md-9  col-sm-10 py-3">
            <div id="overview">
                <div class="p-name">
                    <h3 class="px-2 pb-2" id="id1"> {{invoice.invoice_no}}</h3>
                </div>

                <div class="bar pt-3">
                    <div class="left">
                       
                        <a class="btn mx-1 fa fa-file-word" href="{% url 'delivery_challan_view' id=estimate.id %}"></a>


                    
                        <a class="btn mx-1, fa fa-eye"  href="#home"></a>
                    </div>
                   
                    <div class="right">
                        
                        <a class="btn ml-1" href="{% url 'delivery_challan_edit' estimate.id %}" data-toggle="tooltip" title="Edit"><i
                                class="fas fa-edit"></i></a>
                               
                        <a class="btn btn_print ml-1" href="" id="convertToPDFButton" data-toggle="tooltip"
                            title="Pdf"><i class="mdi mdi-file-pdf"></i></a>
                        <!-- onclick="generatePDF()" -->
                        
                        <script type="text/javascript">
                            $(document).ready(function ($) {
                                console.log('print');

                                $(document).on('click', '.btn_print', function (event) {
                                    console.log('print1');
                                    event.preventDefault();
                                    var customerName = "{{invoice.invoice_no }}";
                                    var element = document.getElementById('div-to-pdf');
                                    var opt =
                                    {
                                        margin: 1,
                                        filename: 'invoice_'+ customerName + '.pdf',
                                        image: { type: 'jpeg', quality: 0.98 },
                                        html2canvas: { scale: 2 },
                                        jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
                                    };
                                    html2pdf().set(opt).from(element).save();

                                });

                            });
                        </script>
                        
                        <a class="btn ml-1" href="" id="dd1" data-bs-toggle="dropdown" aria-haspopup="true"
                            data-toggle="tooltip" title="Download Attachments" aria-expanded="false" role="button">
                            <i class="fas fa-download"></i>
                        </a>
                        
                        <div class="dropdown-menu">
                            {% if attach %}
                            <div class="table-container">
                            <table class="table table-borderless">
                                {% for a in attach %}
                                {% for loan in loans %}
                                <tr>
                                    <td>{{forloop.counter}}.</td>
                                    <td>
                                        
                                        <a href="{% url 'download_loan_attach' payroll_id=loan.payroll.id attachment_id=a.id %}">
                                            <div class="truncate-text">{{ a.attach.name }}</div>
                                        </a>
                                    </td>
                                    <td><a href="{% url 'delete_loan_attach' a.id %}"><i class="fas fa-trash"></i></a></td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                            </table>
                        </div>
                            {% else %}
                            <div class="text-center">No Attachment found</div>
                            {% endif %}
                        </div>
                        {% for loan in loans %}
                        <a class="btn ml-1" href="{% url 'delete_loan' loan.id %}" data-toggle="tooltip" data-placement="top" title="Delete Loan"

                            title="Delete" onclick="return confirm('Do you want to Delete this Employee loan details?');"><i class="fa fa-trash"></i></a>
                            
                        <a class="btn ml-1" href="" data-toggle="modal" data-target="#commentModal"
                            data-toggle="tooltip" title="comment"><i class="far fa-comment"></i></a>
                            <form  class="btn ml-1" method="post" action="{% url 'add_loan_attach' payroll_id=loan.payroll.id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label for="file-input"  data-toggle="tooltip" title="Upload Attachments">
                                    <i class="fas fa-paperclip"></i>
                                </label>
                                <input id="file-input" type="file" name="file" style="display: none;" onchange="uploadFile()">
                                <input type="hidden" id="payroll-id" value="{{ loan.payroll.id }}">
                            </form>
                            {% endfor %}
                            

                    <script>    
                        function uploadFile() {
                            const fileInput = document.getElementById("file-input");
                            const file = fileInput.files[0];
                            const csrfToken = getCookie('csrftoken');
                            const payrollId = document.getElementById("payroll-id").value;
                            
                            const formData = new FormData();
                            formData.append("file", file);
                            
                            fetch(`/add_loan_attach/${payrollId}/`, {
                                method: "POST",
                                headers: { 'X-CSRFToken': csrfToken },
                                body: formData
                            })
                            .then(response => response.json())
                            .then(data => {
                                // Handle the response from the server (if needed)
                                const messageDiv = document.getElementById("upload-message");
        if (data.message) {
            // Display the success message
            messageDiv.textContent = data.message;
            messageDiv.style.color = "green";
        }
        messageDiv.style.display = "block";
    })
    .catch(error => {
        console.error("Error:", error);
    });
}
                        
                    </script>                    
{%for loan in loans%}
{% if loan.active %}
                    <a class="btn ml-1" href="{% url 'loan_deactive' loan.id %}" id="sts">Active</a>
                    {%else%}
                    <a class="btn ml-1" href="{% url 'loan_active' loan.id %}" id="sts">Deactive</a>
                    {%endif%}
                    {%endfor%}
                        
                    </div>
                </div>
                <div id="upload-message" style="display:none;"></div>
                <hr>
                

              
<div id="div_estimate" class="mx-2 my-4 p-4 "
style="background-color: rgba(124, 124, 123, 0.507); height: 800px;">
<div id="selected-area">
<div class="slip p-5 convert_to_pdf bg-light" id="whatToPrint"
    style="box-shadow: 5px 5px 20px rgb(45, 45, 45);">
    <div class="row ">
        <div class="col-md-6 ">
            <h2 class="text-dark" style="text-transform: uppercase;">{{ company.company_name }}</h2>
            <h6 class="text-dark">{{ company.address }}</h6>
            <h6 class="text-dark">{{ company.city }},{{ company.state }}</h6>
        </div>
        <div class="col-md-6 text-right">
            <h1 class="text-dark" style="font-size: 2rem; ">DELIVERY CHALLAN</h1>
            <h6 class="text-dark">Delivery Challan Number : {{estimate.chellan_no }}</h6>
        </div>
    </div>
    <hr>
    <div class="row ">
        <div class="col-md-6 mt-auto">
            <h6 class="text-dark">Bill To</h6>
            <h6 style="color: rgb(218, 142, 3);">{{ estimate.customer_name }} <br><span class="text-dark">{{ estimate.customer.customerEmail }}</span> </h6>
        </div>
        <div class="col-md-6 text-right mt-auto">
            <h6 class="text-dark ">Date : {{ estimate.chellan_date }}</h6>
        </div>
    </div>
    <table class="table mt-2 " style="border-color: black;">
        <thead >
            <tr>
                <th style="color: black;">#</th>
                <th style="width: 30rem;color: black;">Item</th>
                <th class="text-right;" style="color: black;">Quantity</th>
                <th class="text-right;" style="color: black;">Rate</th>
                <th class="text-right;" style="color: black;">Discount</th>
                <th class="text-right;" style="color: black;">Tax</th>
                <th class="text-right;" style="color: black;">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.item_name }}</td>
                <td class="text-right">{{ item.quantity }}</td>
                <td class="text-right">{{ item.rate|floatformat:1 }}</td>
                <td class="text-right">{{ item.discount|floatformat:1 }}</td>
                <td class="text-right">{{ item.tax_percentage }}</td>
                <td class="text-right">{{ item.amount|floatformat:1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table  mt-2">
                <tr>
                    <td class=" text-dark" style="font-weight: bold;">Sub-Total:</td>
                    
                    <td class="text-right" style="text-align: end;">{{ estimate.sub_total|floatformat:1}}</td>
                </tr>
                {% if estimate.cgst != 0 %}
                <tr>
                    <td class="text-right text-dark">CGST:</td>
                    <td class="text-right" style="text-align: end;">{{ estimate.cgst|floatformat:1}}</td>
                </tr>
                {% endif %}
                {% if estimate.sgst != 0 %}
                <tr>
                    <td class="text-right text-dark">SGST:</td>
                    <td class="text-right" style="text-align: end;">{{ estimate.sgst|floatformat:1}}</td>
                </tr>
                {% endif %}
                {% if estimate.igst != 0 %}
                <tr>
                    <td class="text-right text-dark">IGST:</td>
                    <td class="text-right" style="text-align: end;">{{ estimate.igst|floatformat:1}}</td>
                </tr>
                {% endif %}
                {% if estimate.shipping_charge != 0 %}
                <tr>
                    <td class="text-right text-dark">Shipping Charge:</td>
                    <td class="text-right" style="text-align: end;">{{ estimate.shipping_charge|floatformat:1}}</td>
                </tr>
                {% endif %}
                {% if estimate.adjustment != 0 %}
                <tr>
                    <td class="text-right text-dark">Adjustment:</td>
                    <td class="text-right" style="text-align: end;">{{ estimate.adjustment|floatformat:1}}</td>
                </tr>
                {% endif %}
                <tr>

                    <td class="text-right text-warning" style="font-weight: bold;">Total:</td>
                    
                    <td class="text-right " style="font-weight: bold;text-align: end;">{{ estimate.total|floatformat:1}}</td>
                </tr>

            </table>

            <div class="row mt-3">
                <div class="col-sm-6" style="text-align: justify;">
                    <p class="m-0 font-weight-bold" style="color:black">Customer Note : </p>
                    <p style="color:black">{{estimate.customer_notes}}</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-6" style="text-align: justify;">
                    <p class="m-0 font-weight-bold" style="color:black">Terms & Conditions : </p>
                    <p style="color:black">{{estimate.terms_conditions}}</p>
                </div>
            </div>

        </div>
    </div>


</div>


</div>
</div>


<!-- comment modal -->

<div class="modal fade " id="cmnts"
style="width: 750px; margin-left: 350px; justify-content: center; overflow: hidden;">
<div class="modal-dialog modal-xl m-5 p-5">
    <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
        <div class="modal-header " style="background: rgb(32, 35, 37);">
            <h5 class="m-3 text-uppercase text-light">Enter Comment</h5>
            <button type="button" class="close text-dark bg-none" data-dismiss="modal"
                aria-label="Close">&times;</button>

        </div>
        <div class="modal-body" style="background: rgb(32, 35, 37); justify-content: center; overflow: hidden;">
            <div class="card p-0 m-0">
                <form action="{% url 'add_delivery_chellan_comment' estimate.id %}" method="post" class="needs-validation" novalidate autocomplete="off"
                    id="modalComment">
                    {% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-md-6 mt-2">
                            <textarea class="form-control text-dark bg-light" id="comment" name="comments" required
                                style="height: 200px; width: 520px;"></textarea>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="d-flex">
                                <button class="btn save_btn rounded-pill text-grey w-50 my-4 mx-3" type="submit">Save </button>
                                <button type="button"
                                    class="close btn save_btn rounded-pill text-grey w-50 my-4"
                                    data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">Cancel</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</div>



<!-- ....................................  comment list modal ................ -->

<div class="modal fade " id="cmt_list"
   style="width: 750px; margin-left: 350px; justify-content: center; overflow: hidden;">
 <div class="modal-dialog modal-dialog-scrollable modal-xl m-5 p-5">
    <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
        <div class="modal-header " style="background: rgb(32, 35, 37);">
            <h5 class="m-3 text-uppercase text-light">LIST</h5>
            <button type="button" class="close text-dark bg-none" data-dismiss="modal"
                aria-label="Close">&times;</button>

        </div>
        <div class="modal-body" style="background: rgb(32, 35, 37); justify-content: center; overflow-x: hidden;">
            <div class="card p-0 m-0">

                <div class="row mt-3">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="p-2">
                            <table class="table table-bordered" style="table-layout: fixed;">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="background-color:rgb(218, 143, 3) ;color: white;">Comments</th>
                                    </tr>
                                </thead>
                                {% for comt in comments %}
                                <tbody>
                                    <tr>
                                        <!-- <td><input type="text" value="{{ comt.comments }}" style="width: 100%;height: 20px;"></td> -->
                                        <td><textarea name="" id="" cols="80" rows="5" style="border: none;background-color:transparent ;color: white;">{{ comt.comments }}</textarea></td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

  </div>
</div>




 <!-- .....................................................................................................        -->
<!--         
            <div class="slip p-5 mx-1 convert_to_pdf bg-light" id="selected-area"
                style="box-shadow: 5px 5px 10px rgb(45, 45, 45);">
               
                

                <div class="row ">
                    <div class="col-sm-6 ">
                        <h4 class="text-dark" style="text-transform: uppercase;">{{ company.company_name }}</h4>
                        <h6 class="text-dark">{{ company.address }}</h6>
                        <h6 class="text-dark">{{ company.city }},{{ company.state }}</h6>
                    </div>
                    <div class="col-sm-6" style="text-align: right;">
                        <h1 class="text-dark" style="font-size: 1.2rem; ">Delivery Challan</h1>
                        <h6 class="text-dark">DC-{{estimate.chellan_no }}</h6>
                    </div>
                </div>
                <hr>
                <div class="row ">
                    <div class="col-sm-6 mt-auto">
                        <h6 class="text-dark">Bill To</h6>
                        <h6 class="text-dark">{{ estimate.customer_name }}</h6>
                    </div>
                    <div class="col-sm-6  mt-auto" style="text-align: right;">
                        <h6 class="text-dark ">Date : {{ estimate.chellan_date }}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table mt-2" style="border-color: black; color: black;">
                            <thead class="bg-secondary text-white">
                                <tr>
                                    <th class="text-center text-dark" style="width: 200px;">#</th>
                                    <th class="text-center text-dark" style="width: 200px;">Item</th>
                                    <th class="text-center text-dark" style="width: 200px;">Quantity</th>
                                    <th class="text-center text-dark" style="width: 200px;">Rate</th>
                                    <th class="text-center text-dark" style="width: 200px;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr> 
                                    
                                    <td  class="text-center" style="text-align: center">{{ forloop.counter }}</td>
                                    <td class="text-center" style="text-align: center">{{ item.item_name }}</td>
                                    <td class="text-center" style="text-align: center">{{ item.quantity }}</td>
                                    <td class="text-center" style="text-align: center">{{ item.rate|floatformat:3 }}</td>
                                    <td class="text-center" style="text-align: center">{{ item.amount|floatformat:3 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                
                <div class="row" >
                    <div class="col-sm-6" style="padding-left: 75%;  margin-top: 1%;">
                        <table class="table" style="color: black">
                            <tr>
        
                                <td class="text-right">Sub-Total:</td>
                                <td class="text-right">{{ estimate.sub_total|floatformat:3}}</td>
                            </tr>
                            {% if estimate.cgst != 0 %}
                            <tr>
                                <td class="text-right">CGST:</td>
                                <td class="text-right">{{ estimate.cgst|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.sgst != 0 %}
                            <tr>
                                <td class="text-right">SGST:</td>
                                <td class="text-right">{{ estimate.sgst|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.igst != 0 %}
                            <tr>
        
                                <td class="text-right">IGST:</td>
                                <td class="text-right">{{ estimate.igst|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.shipping_charge != 0 %}
                            <tr>
        
                                <td class="text-right">Shipping Charge:</td>
                                <td class="text-right">{{ estimate.shipping_charge|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.adjustment != 0 %}
                            <tr>
        
                                <td class="text-right">Adjustment:</td>
                                <td class="text-right">{{ estimate.adjustment|floatformat:3}}</td>
                            </tr>
                            {% endif %}
                            <tr>
        
                                <td class="text-right">Total:</td>
                                <td class="text-right">{{ estimate.total|floatformat:3}}</td>
                            </tr>
        
                        </table>
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-sm-6" style="text-align: justify;">
                        <p class="m-0 font-weight-bold" style="color:black">Customer Note : </p>
                        <p style="color:black">{{estimate.customer_notes}}</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6" style="text-align: justify;">
                        <p class="m-0 font-weight-bold" style="color:black">Customer Note : </p>
                        <p style="color:black">{{estimate.customer_notes}}</p>
                    </div>
                </div>


            </div> -->
         
     
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script>
    // Add click event listener to all rows with class "clickable-row"
    const rows = document.querySelectorAll('.clickable-row');
    rows.forEach(row => {
        row.addEventListener('click', () => {
            // Get the URL from the "data-href" attribute
            const url = row.getAttribute('data-href');
            // Navigate to the URL
            window.location.href = url;
        });
    });
</script>

<script>
    var $rows = $('#table tr');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        
        $rows.hide().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return ~text.indexOf(val);
        }).show();
    });
  
  </script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



{% endblock %}